@import 'modules/media-queries';
@import 'partials/fontawesome-custom';
@import 'partials/vars';
@import 'partials/fonts';

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
  scroll-behavior: smooth;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  background-color: $transparent;
  margin: 0;
  overflow-x: hidden;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 90vh;
}

.title {
  color: $codGray;
  font-size: $headlineDefault;
  font-weight: $bold;
  margin: 0.83em 1em 1.66em;
  text-align: center;
  text-transform: uppercase;
}

// disclaimer
.content {
  font-size: 0.85em;
  font-weight: $light;
  padding: 0.5em 1em;
  word-break: break-word;

  h1 {
    margin-top: 0;
  }

  a {
    color: $link;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  ul {
    padding-left: 2.35em;
  }

  @include desktop {
    padding-left: 2em;
  }
}

.strong {
  font-weight: $regular;
}

@keyframes slideDown {
  0% { transform: translateY(-150px) }
}
