/* FONT STYLES*/
$robotoSlab: 'Roboto Slab', serif;

/* FONT SIZES */
$headlineDefault: 2em;
$subtitle: 1.6em;

/* FONT WEIGHTS */
$thin: 100;
$light: 300;
$regular: 400;
$bold: 700;

/* ------------------------------------------------------------ *\

   color name refenerce: https://codepen.io/meodai/full/mEvZRx

\* ------------------------------------------------------------ */

$alabaster: #FBFBFB;
$blueJeans: rgba(82,168,236,.6); // valid Textfield shadow
$codGray: #191919;
$flagstone: #ACACAC;
$paleVioletRed: rgba(219,112,147,.8); // invalid Textfield shadow
$trackAndField: #E21A11;
$transparent: rgba(0,0,0,.05);
$wildDove: #8A8A8A;
