@import 'layouts/partials/vars';
@import 'layouts/modules/media-queries';
@import 'layouts/modules/cookie-banner';

.content {
  font-size: 0.85em;
  font-weight: $light;
  padding: 0.5em 1em;
  word-break: break-word;

  h1 {
    margin-top: 0;
  }

  a {
    color: $link;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  ul {
    padding-left: 2.35em;
  }

  @include desktop {
    padding-left: 2em;
  }
}

.optOut {
  font-weight: $bold;
  margin: 0.8em 0;
}

.cookieBanner {
  @include cookieBanner;
}
