@mixin dropdownDefault {
  -moz-transition: all 400ms ease-in-out;
  -o-transition: all 400ms ease-in-out;
  -webkit-transition: all 400ms ease-in-out;
  margin: 0 auto;
  overflow: hidden;
  transition: all 400ms ease-in-out;
}

@mixin dropdownBtn($className) {
  opacity: 0;
  position: absolute;

  + label > div {
    cursor: pointer;
  }

  &:not(:checked) ~ .#{$className} {
    height: 3em;
  }

  &:checked ~ .#{$className} {
    height: 6em;
  }

  &:checked + label > div > h4 > i {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}
